

@font-face {
  font-family: "Fairytail";
  src: url(fonts/fairytale.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fairytail Italic";
  src: url(fonts/fairytale-italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

:root {
    --heading: "Fairytail Italic"; , sans-serif !important;
    --paragraph: "Roboto", sans-serif;
}

body {
  background-color: black;
}

h1 {
  font-family: "Fairytail Italic", sans-serif !important;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 50px;
}

h4 {
    font-family: var(--paragraph);
    text-align: center;
    font-size: 20px;
    color: grey;
    font-weight: 300;
}
