@font-face {
  font-family: "Fairytail";
  src: url(fonts/fairytale.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fairytail Italic";
  src: url(fonts/fairytale-italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: black;
}

h1 {
  font-family: "Fairytail Italic", sans-serif !important;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 50px;
}
